body {
    margin: 0;
}
.container-header {
    display: flex;
    align-items: center;
    justify-content: right;
    color:white;
    gap: 8px;
    background-color: #1f2937;
    font-size: 24px;
}
.container-header .logo {
    margin-right: 43%;
    margin-left: 10%;
}
.container-header .nav  {
    margin-right: 10%;
    display: flex;
    gap: 10px;
    font-size: 18px;
}
