body {
    margin: 0;
}
.container-header {
    display: flex;
    align-items: center;
    justify-content: right;
    color:white;
    gap: 8px;
    background-color: blue;
}
.container-header .logo {
    margin-right: 50%;
    margin-left: 20px;
}
.container-header .nav  {
    margin-right: 20px;
}
